body {
  background-color:blue;
  font-family: verdana, geneva, arial, halvetica, sans-serif;
}
h1 {
  text-align: right;
  font-family: georgia, "Times New Roman", times, serif;
}
h2 {
  text-align: center;
  font-family: georgia, "Times New Roman", times, serif;
}
p {
  text-align: justify;
}
